.button {
  background-color: red;
  padding: 20px;
}

.main {
  width: "100vw";
  height: "100vh";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  background-color: aqua;
}
